@font-face {
    font-family: San-Francisco;
    src: url('../assets/fonts/SF-Pro-Text-Light.otf');
}
:root{
    --header: #1C1C1C;

}

header{
    height: 50px;
    width: 100%;
    background: var(--header);
    padding: 0 10%;
    border-bottom: white 2px solid;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    color: white;
    font-family: San-Francisco;
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
nav{
    display: flex;
    gap: 30px;
    font-size: 16px;
    align-items: center;
    font-family: San-Francisco;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
body{
    background: black;
}