.main_container {
    height: 1000px;
    padding-top: 7vh;
    width: 100%;
    background-color: #474350;
    color: white;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.align-center {
    justify-content: center;
    align-items: center;
}

.main_height {
    height: 500px;
}

.description_height {
    height: 250px;
}

.image {
    width: 95%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image_m1a2 {
    background-image: url(../image/m1a2.png);
}