.main_container {
    padding-top: 7vh;
    width: 100%;
    color: white;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.align-center {
    justify-content: center;
    align-items: center;
}

.content-padding {
    padding: 1.5%;
}
.content-padding li{
    font-family: 'Courier New', Courier, monospace;
}
.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-around {
    justify-content: space-around;
}

.description div,
.content {
    padding-top: 10px;
}
.fs20 h3{
    font-size: 25px;
}
.description h3,
.content h3 {
    height: 20%;
    padding-bottom: 20px;
}
.description ol,
.content p {
    height: 80%;
}

img{
    max-width: 100%;
    height: auto;
}
yellow:hover{
    background-color: orange;
    transition-duration: .5s;
    transition-delay: 5s;
    color: black
}
hd{
    color: rgb(95, 95, 95);
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
redc{
    color: rgb(255, 0, 0);
    font-size: 10px;
}
lgreenc{
    color: rgba(172, 255, 47, 0.753);
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    text-align: center;
    font-size: 35px;
    color: #ffc857;
}

h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 15px;
}

ol li {
    line-height: 1.35;
}

.content {
    height: 50%;
}

.description h3 {
    font-size: 25px;
}

.content p {
    padding: 15px 0;
}

.border-top {
    border-top-style: solid;
    border-color: rgba(63, 63, 63, 0.688);
}
.bg-color-bgrey{
    background-color: rgba(45, 45, 45, 0.415);
}

.border-1 {
    border-width: 5px;
}

/*mobile*/
@media (max-width: 857px) {
    .description h3 {
        height: 30%;
    }

    .description ol {
        height: 70%;
    }

    .main_container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .description h3 {
        font-size: 35px;
    }
}